body {
  background-color: black;
}

.bars {
  position: absolute;
  left: 100px;
  top: 20px;
}

.bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}

.sort-buttons {
    margin-top: 5vmin;
    display: flex;
    justify-content: space-around;
    padding: 0vmin 50vmin;
}

.sort-buttons > button {
    font-size: 2.5vmin;
    color: white;
    border: 0.4vmin solid red;
    border-radius: 100%;
    background-color: transparent;
    height: 7vmin;
    width: 7vmin;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#rand-btn {
  color: red;
  border: 0.4vmin solid white;
}
